<!DOCTYPE html>
<html>
<head>
    <title>Select Language - Moodify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>

<body class="center-page">

<div class="top-bar">
    <div class="app-name">MOODIFY</div>


 <div class="account-wrapper">

        <div class="account-btn" onclick="toggleDropdown()">
            {% if session.spotify_user and session.spotify_user.images %}
                <img src="{{ session.spotify_user.images[0].url }}" class="account-pfp">
            {% else %}
                <div class="account-placeholder"></div>
            {% endif %}

            <span class="account-name">
                {{ session.spotify_user.display_name }}
            </span>

            <span class="dropdown-arrow">▾</span>
        </div>

        <div class="account-dropdown" id="accountDropdown">
            <a href="{{ url_for('logout') }}" class="dropdown-item">
                Logout
            </a>
        </div>

    </div>
</div>
<div class="card flow-card">

    <h2 class="flow-title">Select Language</h2>


    <form action="/set_language" method="POST">
        <div class="options">
            <button type="submit" name="language" value="English" class="option-btn">
                 English
            </button>

            <button type="submit" name="language" value="Hindi" class="option-btn">
                Hindi
            </button>
        </div>
    </form>

</div>


<script>
function toggleDropdown() {
    const dropdown = document.getElementById("accountDropdown");
    dropdown.classList.toggle("show-dropdown");
}

window.addEventListener("click", function(e) {
    const wrapper = document.querySelector(".account-wrapper");
    if (!wrapper.contains(e.target)) {
        document.getElementById("accountDropdown")
            ?.classList.remove("show-dropdown");
    }
});
</script>


</body>
</html>
