<!DOCTYPE html>
<html>
<head>
    <title>Select Mood - Moodify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>

<body class="center-page">

<div class="top-bar">
    <div class="app-name">MOODIFY</div>
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
</div>

{% if session.spotify_user %}
    <div class="user-info">
        {% if session.spotify_user.images %}
            <img src="{{ session.spotify_user.images[0].url }}" class="profile-pic">
        {% endif %}
        <span>{{ session.spotify_user.display_name }}</span>
    </div>
{% endif %}


<div class="card flow-card">

    <h2 class="flow-title">Select Your Mood</h2>

 

    <form action="/search" method="POST">
        <div class="options">
            <button type="submit" name="mood" value="party" class="option-btn">
                 Party
            </button>

            <button type="submit" name="mood" value="Sad" class="option-btn">
                 Sad
            </button>

            <button type="submit" name="mood" value="romantic" class="option-btn">
                Romantic
            </button>

            <button type="submit" name="mood" value="energetic" class="option-btn">
                 Energetic
            </button>
        </div>
    </form>

    <a href="{{ url_for('language') }}" class="secondary-link">
        ← Change Language
    </a>

</div>

</body>
</html>
